.main_frame {
    background: burlywood
}
.header {
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    background: white;
}

.header_text {
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    margin: 2%;

}
.Logo {
    display: inline-block;
    width: 7%;  
    margin-left: 5%;
}
